
:root{
    
    --PrimaryColor:rgb(241, 50, 184);
    --HoverColor:rgb(237, 155, 196);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: rgb(121,121,122);
    --whiteColorDeam:rgb(237,218,218);
    --greyBg:rgb(245,245,245);
    --greyText:rgb(196,190,190);
    --inputColor:rgb(247,218,233);
    --boxshadow: 0 2px 8px 2px rgba(178,178,178,0.45);
}

.about{
    .seccontains{
        .names{
            color: var(--blackColor);
            line-height: 1.5rem;
            padding-bottom: 2rem;
            text-align: center;
            font-size: 1.5rem;
        }

        .maincontains{
            gap: 1rem;
            .singleitem{
                text-align: center;
                img{
                    background: black;
                    width: 100px;
                    border-radius: 50%;
                    padding: .5rem;
                }

                h3{
                    font-weight: 700;
                    color: var(--blackColor);
                    padding: .5rem;
                }
                p{
                    font-size: 13px;
                    font-weight: 500;
                    padding-bottom: .5rem;
                    color: var(--textColor);
                }
            }
        }

        .videobox{
margin-top: 2rem;
background: linear-gradient(to top,rgba(0,0,0,0.609),rgba(0,0,0,0.609)),url(../../Assets/luffy.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;

.cardcontains{
    gap: 2rem;
    padding: 2rem 1rem;

    .cardname{
        h2{
            color: var(--whiteColor);
            font-weight: 600;
            padding-bottom: 1rem;
        }
        p{
            color: var(--whiteColor);
            font-size: 12px;
            opacity: .7;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
}

.videodubby{
border: 2px solid var(--whiteColor);
height: 150px;
width: 100%;
border-radius: 10px;
overflow: hidden;

.vid{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
}


        }
    }
}