:root{
    
    --PrimaryColor:rgb(241, 50, 184);
    --HoverColor:rgb(237, 155, 196);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: rgb(121,121,122);
    --whiteColorDeam:rgb(237,218,218);
    --greyBg:rgb(245,245,245);
    --greyText:rgb(196,190,190);
    --inputColor:rgb(247,218,233);
    --boxshadow: 0 2px 8px 2px rgba(178,178,178,0.45);
}

.blog{
.maincontains{
    display: grid;
    gap: 1rem;
.singlepost{
    display: grid;
    gap: 2rem;
    .imgbox{
        height: 200px;
        width: 100%;
        border-radius: 1rem;
        border: 5px solid var(--greyBg);
        box-shadow: 0 2px 8px 2px rgba(178,178,178,0.406);
        overflow: hidden;
       
        &:hover{
            img{
                transform: scale(1.1);
                transition: 3s ease;

            }
        }

        img{
            height: 100%;
            object-fit: cover;
        }
    }

    .postinf{
        h3{
            color: var(--blackColor);
            font-weight: 600;
            padding-bottom: 10px;
        }
        p{
            font-size: 13px;
            font-weight: 500;
            color: var(--textColor);
        }
       
    }
    a{
        font-size: 15px;
        color: var(--PrimaryColor);
        font-weight: 600;
        padding: .5rem;
        width: max-content;
        &:hover{
            font-weight: 600;
            color: var(--HoverColor);
        }
        .icon{
            transform: translateX(10px);
        }
    }

}
}
}  
