:root{
    
    --PrimaryColor:rgb(241, 50, 184);
    --HoverColor:rgb(237, 155, 196);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: rgb(121,121,122);
    --whiteColorDeam:rgb(237,218,218);
    --greyBg:rgb(245,245,245);
    --greyText:rgb(196,190,190);
    --inputColor:rgb(247,218,233);
    --boxshadow:rgba(178,178,178,0.45);
}

.popu{
    padding-top: 15rem;

   

.secheader{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.text{
    .secperu{
color: var(--blackColor);
line-height: 1.5rem;
padding-bottom: .5rem;
    }
    p{
font-size: 13px;
color: var(--textColor);
font-weight: 500;
    }
}

.iconsda{
gap: 0.5rem;

    .icon{
        padding: .5rem;
        background: var(--greyText);
        border-radius: 50%;
font-size: 2.5rem;

   &:hover{
    background: var(--blackColor);
    color: var(--whiteColor);
}
 }
.lefticon{
    background: var(--blackColor);
    color: var(--whiteColor);
    &:hover{
        background: var(--greyText);
        color: var(--blackColor);
    }
}


}

.maindubby{
padding: 2rem 0;
gap: 1rem;


.singledesti{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 8px 2px rgba(178,178,178,0.45);

    .destimg{
        height: 200px;
       width: 100%;
        position: relative;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .info{
            position: absolute;
            display: flex;
            align-items:flex-start;
            padding: 0;
            justify-content: center;
            flex-direction: column;
            background: linear-gradient(rgba(0,00,0,0.846),rgba(0,0,0,0.759));
            bottom: 0;
            width: 100%;
            height:0;
            overflow: hidden;
            h3{
                color: var(--whiteColor);
                font-weight: 600;
            }
            p{
                color: var(--whiteColor);
                opacity: .7;
                font-size: 13px;
            }
            .icon{
                position: absolute;
                right: 10px;
                bottom: 10px;
                padding: .5rem;
               background: var(--PrimaryColor);
                font-size: 2.5rem;
                border-radius: 50%;
                color: var(--whiteColor);
                border: 1px solid transparent;
                transition: .3s ease;

&:hover{
    background:var(--blackColor) ;
    border: 1px solid var(--PrimaryColor);
    color: var(--PrimaryColor);
}
            }
        }
    }


    .destfoot{
        padding: 1rem;
        .num{
            font-size: 2rem;
            font-weight: 700;
            color: var(--blackColor);
            position: relative;
            width: max-content;

            &::after{
                content: '';
                position: absolute;
                background: var(--PrimaryColor);
                top: 45%;
                right: -150%;
                height: 5px;
                width: 45px;
                border-radius: 1rem;

            }
        }
.desttext{
    justify-content:space-between ;
    h6{
        color: var(--blackColor);
        font-size: 15px;
    }
    .flex{
        font-size: 16px;
        font-weight: 600;
        align-items: flex-start;
        transform: translateY(5px);

        .icon{
            color: var(--PrimaryColor);
        }
}
}
}
&:hover{
    .info{
        overflow: visible;
        padding: 1rem 1.5rem;
        height: 100%;
    }

    }
}
}
}